body {
    background-color: rgb(18, 18, 18);
}

button {
    position: absolute;
    right: 5vw;
    top: -5vh; 
}

.desc {
    display: inline;
}

.hidden {
    display: none;
}

iframe {
    width: 50vw;
}

#intro {
    background-color: rgb(108, 82, 229);
    width: 26%;
    height: 35vh;
    float: left;
    margin: 10px;
}

#library {
    display: inline;
}

.p-img {
    height: 12%;
    width: 14%;
    margin: 10px;
}

.plist {
    width: fit-content;
    margin: 0px 0px;
    display: inline;
}

#profile {
    width: 100vw;
    height: auto;
    margin: -10px -10px;
}

#window {
    background-color: white;
    position: fixed;
    z-index: 30;
    top: 25vh;
    left: 30vw;
}
